apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: simple-app
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: simple-app
  namespaceSelector:
    matchNames:
      - dev
  endpoints:
  - port: http
    path: /metrics
    interval: 15s
